body{
    background-image: linear-gradient(to bottom right,rgb(5, 45, 84),rgb(14, 86, 141));
    background-repeat: no-repeat;
    height: 669px;
    width:1000px;
}
.card{
    width:1000px;
    height:500px;
    padding: 15px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: auto;
    border: 5px solid rgb(0, 238, 255);
    border-radius: 2%;
    color: aliceblue;
    
}
.marks{
    
}
